// Font placeholder
.font-default {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
}

.font-bold {
  font-family: 'Asap', sans-serif;
  font-weight: 700;
}

.font-italic {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-style: italic;
}

// Colors
$font-color-default: #1f1e1e;
$font-color-hero: #fff;
$color-accent: #cb0021;
$color-gray-light: #e2e2e2;

// Fonts and Sizes

$font-size-intro: 30px;
$font-size-about: 18px;
$font-size-headlines: 30px;
$font-size-headlines-shadow: ($font-size-headlines * 2);
$font-size-title: 40px;
$font-size-subtitle: ($font-size-title / 2);
