html {
  @extend .font-default;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $font-color-default;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  padding: 0 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
p {
  margin-bottom: 10px;
}

.headline {
  @extend .font-bold;
  position: relative;
  margin: 80px 0 70px 0;
  text-align: center;
  font-size: $font-size-headlines;

  @include bp(medium) {
    font-size: $font-size-headlines * 1.5;
  }

  &:after {
    opacity: .05;
    content: attr(data-content);
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -5px;
    left: 0;
    font-size: $font-size-headlines-shadow;

    @include bp(medium) {
      font-size: $font-size-headlines-shadow * 1.5;
    }
  }
}